{
    "presets": ["babel-preset-expo"],
    "plugins": [
      "react-native-reanimated/plugin",
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "@assets": "./src/assets",
            "@components": "./src/components",
            "@graphql": "./src/graphql",
            "@navigation": "./src/navigation",
            "@screens": "./src/screens",
            "@store": "./src/store",
            "@styles": "./src/styles",
            "@texts": "./src/texts",
            "@utils": "./src/utils"
          }
        }
      ]
    ]
  }
  